<!DOCTYPE html>
<!--- ONE PAGE MODE -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Vickie Chen's Portfolio">
	<meta name="keyword" content="Vickie Chen, Wanchi Chen, portfolio, Vickie Chen's Portfolio, Vickie Chen's Projects, web developer, LAMPP developer">
    <meta name="author" content="Vickie Chen">
    <link rel="icon" href="../../favicon.ico">
  
    <title>Vickie Chen's Portfolio</title> 
    <link href="css/bootstrap.min.css" rel="stylesheet">  <!-- Bootstrap core CSS -->  
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"> <!-- IE10 viewport hack for Surface/desktop Windows 8 bug --> 
    <link href="css/carousel.css" rel="stylesheet">  <!-- Custom styles for this template -->
  </head>
  
  <body ng-app="myApp" id="myApp" data-spy="scroll" data-target=".navbar" data-offset="60" oncontextmenu="return false">
	<!-- NAVBAR -->
    <div class="navbar-wrapper">
      <div class="container"  ng-controller="headerController">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#home">Vickie Chen's Portfolio</a>
            </div>
			
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
			   	<li><a href="#portfolio" data-toggle="tab">Portfolio</a></li>				
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Me <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#aboutme" data-toggle="tab">Vickie Chen</a></li>
                    <li><a href="#work" data-toggle="tab">Employment History</a></li>
                    <li><a href="#education" data-toggle="tab">Education</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Other Sources</li>
                    <li><a href="mailto:vickie_tree@hotmail.com">Contact Me</a></li>
					<li><a href="https://www.linkedin.com/in/vickie-chen-5a3200b7" target="_blank">Linkedin</a></li>
					<!--<li><a href="https://github.com/VickieChenAtGithub/myPortfolio/" target="_blank">Source Code</a></li>-->
					<!--<li><a href="data/WanchiChen_Resume_2016.doc" download="WanchiChen_Resume" >Download My Resume</a></li> -->     
					<li><a href="#map" data-toggle="tab" id="showmap">Location</a></li>					
                  </ul>
                </li>
			  </ul>
			  <span class="pull-right">{{theTime}} {{visitorCount}}</span>
            </div>
          </div>
        </nav>		
      </div>
    </div>
	<!-- END AVBAR -->

	<div ng-controller="homeController"> <!-- Angular homeController Controller-->
	
	<!-- Carousel , GET SLIDES FROM home.json FILE-->
	<div id="homeCarousel" class="carousel slide tab-pane fade in"  data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="{{key}}" class="{{value.class=='first-slide'?'active':''}}" ng-repeat="(key, value) in home['slides']"></li>      
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item {{slide.class=='first-slide'?'active':''}}" ng-repeat="slide in home['slides']">
          <img class="{{slide.class}}" src="{{slide.imgURL}}" alt="{{slide.class}}">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{slide.subject}}</h1>
              <p>{{slide.description}}</p>
              <p><a class="btn btn-lg btn-primary" href="#portfolio" role="button" onclick="showProject(this)" tabname="{{slide.detailLink}}">More Details</a></p>
            </div>	
          </div>
        </div>       
      </div>
      <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- END carousel -->

	<!-- Wrap the rest of the page in another container to center all the content. -->	
	<div class="tab-content">	
	
		<!-- Home TAB, GET CONTENT FROM home.json FILE -->
		<div id="home" class="container marketing tab-pane active">
			<div class="row">
				<div class="col-lg-4" ng-repeat="home in home['home']">
					<img class="img-circle" src="{{home.imgURL}}" alt="Generic placeholder image" width="140" height="140">
					<h2>{{home.subject}}</h2>
					<p>{{home.description}}</p>		
					<p><a class="btn btn-default" href="#{{home.detailLink}}" data-toggle="tab" role="button">View details &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row --> 
		</div>
		<!-- END Home TAB -->
		
		<!-- PAGES TAB , GET CONTENT FROM home.json FILE -->
		<div id="{{page.id}}" class="container marketing tab-pane" ng-repeat="(key, page) in home['pages']">
			<div class="row featurette">
				<div class="col-md-7 {{key/2==1?'col-md-push-5':''}}">
					<h2>{{page.title}} <span class="text-muted"></span></h2>
					<p>{{page.content}}</p>			
					<div ng-show="page.list.length > 0">
						<ul>
						  <li ng-repeat="list in page['list']">{{list}}</li>
						</ul>
					</div>
					<p><a class="btn btn-default" href="#home" data-toggle="tab" role="button">Go Back</a></p>		
				</div>
				<div class="col-md-5 {{key/2==1?'col-md-pull-7':''}}">
					<img class="featurette-image img-responsive center-block" src="{{page.imgURL}}" alt="Generic placeholder image">
				</div>
			</div>
		</div>
		<!-- PAGES TAB -->	
			
		<!-- Portfolio TAB , GET CONTENT FROM home.json FILE -->
		<div id="portfolio" class="container marketing tab-pane">	
			<h4 data-toggle="tooltip"  data-placement="left" title="Most of my projects at UAMS are using Central Authentication Control (CAS) and only for internal used, therefore I am using screenshots on the slides below to give you some ideas about my projects">Work Examples</h4>			
			<div class="row featurette" id="{{slide.detailLink}}" class="tab-pane" ng-repeat="slide in home['slides']">
		
				<!-- project description on the left -->
				<div class="col-md-6">
					<h2>{{slide.subject}}</h2>
					<p><span class="text-muted">{{slide.description}}</span></p>
					<span class="text-muted">My Responsibilities:</span><br>
					<p>{{slide.responsibilities}}</p><br>
					<p ng-repeat="el in slide['externalLinks']"><span class="text-muted"><a href="{{el.link}}" target="_blank">{{el.subject}}</span></p>
					<p><span class="text-muted"><a href="data/{{slide.docs}}" target="_blank" "download">{{slide.docs}}</span></p>			
				</div>
			
				<!-- project slideshow on the right -->
				<div class="col-md-6">			
					 <!-- carousel -->
					 <div id="{{slide.detailLink}}Carousel" class="carousel slide"  data-ride="carousel">				 
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#{{slide.detailLink}}Carousel" data-slide-to="{{screenshot.index}}" class="{{screenshot.index==0?'active':''}}" ng-repeat="screenshot in slide['screenshot']"></li>  
						 </ol>
						  
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item {{key==0?'active':''}}" ng-repeat="(key, name) in slide['screenshot']">
							  <img class="" src="img/{{slide.detailLink}}/{{name}}" alt="{{name}}">
							  <div class="container">
								<div class="carousel-caption">
								  <p><!-- slide descrition here if need --></p>					
								</div>		
							  </div>
							</div>       
						</div>
					  
						<!-- Left and right controls -->
						<a class="left carousel-control" href="#{{slide.detailLink}}Carousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#{{slide.detailLink}}Carousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>				  
					</div><!-- /.carousel -->	
				</div>
			</div>		
			</hr><!-- /.row -->					
		</div>
		<!-- END Portfolio TAB -->
			
		<!-- Add Google Maps -->
		<div id="map" class="container marketing tab-pane" style="height:400px;width:100%;"></div>		
	</div>
	<!-- END tab-content -->
	<hr>
	<p class="pull-right" style="position:fixed;bottom:10px;right:10px"><a href="#">Back to top</a></p>
    <!-- FOOTER -->	
    <footer>
        <p>&copy; 2016 Vickie Chen. &middot; WEB Tools used: HTML, CSS, JS(jquery, Angular, Bootstrap,etc), JSON file.</p>
    </footer>

    </div><!-- Angular homeController Controller-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>		
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<script src="js/modal.js"></script>	
    <script src="js/holder.min.js"></script>
	<script src="js/ie-emulation-modes-warning.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>		
	<script type="text/javascript" src="http://www.google.com/jsapi?key=###api-key###"></script>
	<script src="js/app.js"></script>
  </body>
</html>
 
